.card-button {
  border-radius: 2px;
  height: 132px;
  width: 93px;
  background: white;
  margin: 2px;
}

button .estimated {
  border-color: black;
  color: black;
}

.mine {
  border-color: blue;
}

span .estimated {
  color: black;
}

.value-wrapper {
  height: 100%;
}

.greyed {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.4;
}