<div class="snackbar-wrapper">
  <mat-icon *ngIf="isInfo" color="primary" class="snack-bar-icon">info</mat-icon>
  <mat-icon *ngIf="isWarning" color="accent" class="snack-bar-icon">warning</mat-icon>
  <mat-icon *ngIf="isError" color="warn" class="snack-bar-icon">error</mat-icon>
  <span id="snackbar-message" class="span-message">
    {{ params.messageKey | translate: params.messageParams }}
  </span>
  <button class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
