<h1 mat-dialog-title>{{ title | translate }}</h1>

<mat-dialog-content [formGroup]="formData">
  <mat-form-field appearance="fill">
    <mat-label>{{ participantLabel | translate }}</mat-label>
    <mat-select formControlName="nick" appearance="fill">
      <mat-option *ngFor="let participant of participants" [value]="participant.participantId">
        {{ participant.nick }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">{{ cancelButtonLabel | translate }}</button>
  <button mat-button [mat-dialog-close]="true" [disabled]="formData.invalid" (click)="save()">
    {{ saveButtonLabel | translate }}
  </button>
</div>
