.connection-wrapper {
  display: flex;
  flex-direction: row;
  height: 48px;
  font-size: 14px;
}

.button-reconnect:disabled {
  color: #FFF;
}

.div-reconnecting {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  line-height: 1.5em;
  text-align: end;
  margin-right: 5px;
}

.connection-icon {
  height: 48px;
  width: 48px;
}