:root,
:host {
  --color-blue: #003aff;
  // --color-blue-rgb: 0, 58, 255;

  --color-green: #ccff00;
  // --color-green-rgb: 204, 255, 0;

  --color-yellow: #ffff00;
  // --color-yellow-rgb: 255, 255, 0;

  --color-red: #f31f00;
  // --color-red-rgb: 243, 31, 0;

  --color-darkgrey: #414141;
  // --color-darkgrey-rgb: 65, 65, 65;

  --color-midgrey: #666666;
  // --color-midgrey-rgb: 102, 102, 102;

  --color-lightgrey: #929599;
  // --color-lightgrey-rgb: 146, 149, 153;

  --color-whitegrey: #d0d4d8;
  // --color-whitegrey-rgb: 208, 212, 216;

  --color-white-background: #ffffff;
}
