<div class="header-container">
  <div>
    <button mat-button [disabled]="!canNavigate()" routerLink="/" routerLinkActive="active" class="header-button">
      <mat-icon>home</mat-icon>
      {{ ROUTE_LABEL_HOME | translate }}
    </button>
    <button mat-button [disabled]="!canNavigate()" routerLink="legal" routerLinkActive="active" class="header-button">
      <mat-icon>gavel</mat-icon>
      {{ ROUTE_LABEL_LEGAL | translate }}
    </button>
    <button mat-button [disabled]="!canNavigate()" routerLink="privacy" routerLinkActive="active" class="header-button">
      <mat-icon>security</mat-icon>
      {{ ROUTE_LABEL_PRIVACY | translate }}
    </button>
  </div>
  <div class="header-right">
    <div class="version-text">{{ version }}</div>
    <app-language-selector></app-language-selector>
  </div>
</div>
