.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Set z-index to make sure the toolbar will stay on top of the content as it scrolls past. */
.is-mobile .main-toolbar {
  position: fixed;
  z-index: 2;
}

/* todo remove all the following later
.example-sidenav-container {
   When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts.
  flex: 1;
}
.example-is-mobile .example-sidenav-container {
  When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts.
  flex: 1 0 auto;
}

.has-border {
  border-right: 1px solid rgba(0  0 0 / 12%);
}

.mat-mdc-list {
  padding-top: 0;
}

.mat-mdc-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0 0 0 / 5%);
  }
}

.mat-drawer-container {
  position: unset;
}

.mat-sidenav,
.mat-drawer-content,
// Force style down to child components
// See https://angular.io/guide/component-styles#deep
:host ::ng-deep .mat-drawer-backdrop {
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  position: absolute;
}

// @media ($mat-xsmall) {
//   .mat-sidenav,
//   .mat-drawer-content,
//   :host ::ng-deep .mat-drawer-backdrop {
//     top: 56px;
//   }
// }
*/