<button
  class="card-button"
  [class.intent-primary]="displayCard.intent == 'primary'"
  [class.disabled]="!displayCard.enabled"
  [class.isAvailableCard]="displayCard.isAvailable"
  (click)="click()"
  [disabled]="!displayCard.enabled"
>
  <div *ngIf="displayCard.isAvailable; else notAvailable" class="value-wrapper">
    <div *ngIf="displayCard.card !== null; else showAsFaceDown" class="value-wrapper">
      <div *ngIf="displayCard.card.isIcon; else noIcon" class="value-wrapper">
        <div class="top-value">
          <mat-icon class="top-value">{{ displayCard.card.label }}</mat-icon>
        </div>
        <div class="center-value">
          <mat-icon class="center-value">{{ displayCard.card.label }}</mat-icon>
        </div>
        <div class="bottom-value">
          <mat-icon class="bottom-value">{{ displayCard.card.label }}</mat-icon>
        </div>
      </div>
      <ng-template #noIcon>
        <div class="top-value">
          <span>{{ displayCard.card.label }}</span>
        </div>
        <div class="center-value">
          <span>{{ displayCard.card.label }}</span>
        </div>
        <div class="bottom-value">
          <span>{{ displayCard.card.label }}</span>
        </div>
      </ng-template>
    </div>
    <ng-template #showAsFaceDown>
      <div>
        <img src="logo_40x40.png" />
      </div>
    </ng-template>
  </div>
  <ng-template #notAvailable>
    <div>
      <img class="greyed" src="logo_40x40.png" />
    </div>
  </ng-template>
</button>
