<div class="side-nav-container">
  <!-- Scrum-master -->
  <div id="scrum-master" class="participants">
    <mat-card-title>{{ SCRUM_MASTER_LABEL | translate }}</mat-card-title>
    <mat-card-content *ngIf="memberPanelState().scrumMaster != null" class="participant-list">
      <app-member [member]="memberPanelState().scrumMaster!"></app-member>
    </mat-card-content>
  </div>
  <!-- Developers -->
  <div id="developers" class="participants">
    <mat-card-title>{{ DEVELOPERS_LABEL | translate }}</mat-card-title>
    <mat-card-content class="participant-list">
      <div *ngFor="let developer of memberPanelState().developers">
        <app-member [member]="developer"></app-member>
      </div>
    </mat-card-content>
  </div>
  <!-- Observers -->
  <div id="observers" class="participants">
    <mat-card-title>{{ OBSERVERS_LABEL | translate }}</mat-card-title>
    <mat-card-content class="participant-list">
      <div *ngFor="let observer of memberPanelState().observers">
        <app-member [member]="observer"></app-member>
      </div>
    </mat-card-content>
  </div>
  <!-- Leave and pause -->
  <div id="actions" class="participants">
    <mat-card>
      <div
        *ngIf="memberPanelState().leaveButtonMode === 'disband'"
        matTooltip="{{ DISBAND_TOOLTIP | translate }}"
        [matTooltipDisabled]="memberPanelState().canLeave"
      >
        <button
          id="disband-button"
          mat-stroked-button
          class="member-panel-button"
          color="primary"
          [disabled]="!memberPanelState().canLeave"
          (click)="disband()"
        >
          {{ DISBAND_LABEL | translate }}
        </button>
      </div>
      <div
        *ngIf="memberPanelState().leaveButtonMode === 'leave'"
        matTooltip="{{ LEAVE_LABEL_TOOLTIP | translate }}"
        [matTooltipDisabled]="memberPanelState().canLeave"
      >
        <button
          id="leave-button"
          mat-stroked-button
          class="member-panel-button"
          color="primary"
          [disabled]="!memberPanelState().canLeave"
          (click)="leave()"
        >
          {{ LEAVE_LABEL | translate }}
        </button>
      </div>
      <div matTooltip="{{ memberPanelState().pauseButtonTooltip }}" [matTooltipDisabled]="memberPanelState().canPause">
        <button
          id="pause-button"
          mat-stroked-button
          class="member-panel-button"
          color="primary"
          [disabled]="!memberPanelState().canPause"
          (click)="pause()"
        >
          {{ PAUSE_LABEL | translate }}
        </button>
      </div>
    </mat-card>
  </div>
</div>
