<div fxLayout="row">
  <div fxLayout="column">
    <div fxLayout="column">
      <mat-card>
        <mat-card-title>{{scrumMasterHeaderLabel}}</mat-card-title>
        <mat-card-content>{{scrumMaster}}</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>{{developersHeaderLabel}}</mat-card-title>
        <mat-card-content>
          <ul>
            <li class="list-group-item" *ngFor="let developer of developers">
              {{developer}}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
    <div fxLayout="column">
      <mat-card>
        <mat-card-title>
          <span>{{team}} ({{status}})</span>
        </mat-card-title>
        <mat-card-content>
          <div fxLayout="row wrap">
            <div class="list-group-item" *ngFor="let estimation of estimations" >
              <div *ngIf="estimation.mine; then myEstimation else otherEstimation"></div>
                <ng-template #myEstimation>
                  <button mat-stroked-button color="secondary" (click)="withdraw()" [disabled]="!showEstimate && !enabled">
                    <p>{{estimation.label}}</p>
                    <p>{{estimation.nick}}</p>
                  </button>
                </ng-template>
                <ng-template #otherEstimation>
                  <button mat-stroked-button color="primary" [disabled]="true">
                    <p *ngIf="estimation.revealed; then revealed else unrevealed"></p>
                    <ng-template #revealed>
                      {{estimation.label}}
                    </ng-template>
                    <ng-template #unrevealed>
                      X
                    </ng-template>
                    <p>{{estimation.nick}}</p>
                  </button>
                </ng-template>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row wrap">
            <div class="list-group-item" *ngFor="let card of availableCards">
              <button mat-stroked-button color="primary" (click)="estimate(card.index)" [disabled]="!showEstimate && !enabled">
                {{card.label}}
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-actions>
          <div fxLayout="row">
            <div *ngIf="showStart">
              <button mat-stroked-button color="primary" (click)="start()" [disabled]="!enabled">
                {{startButtonLabel}}
              </button>
            </div>
            <div *ngIf="showReveal">
              <button mat-stroked-button color="primary" (click)="reveal()" [disabled]="!enabled">
                {{revealButtonLabel}}
              </button>
            </div>
            <button mat-stroked-button color="primary" (click)="leave()" [disabled]="!enabled">
              {{leaveLabel}}
            </button>
            <div *ngIf="showDisconnect">
              <button mat-stroked-button color="warning" (click)="disconnect()" [disabled]="!enabled">Disconnect</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
