<div fxFlex>
  <h2>{{team}}</h2>
  <mat-card>
    <mat-card-title>Scrum Master</mat-card-title>
    <mat-card-content>{{scrumMaster}}</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Developers</mat-card-title>
    <mat-card-content>
      <ul >
        <li class="list-group-item" *ngFor="let developer of developers">
          {{developer}}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Game</mat-card-title>
    <mat-card-content>This is the playfield</mat-card-content>
    <mat-card-actions>
      <li class="list-group-item" *ngFor="let card of availableCards">
        <button mat-stroked-button color="primary" (click)="estimate(card.index)">{{card.label}}</button>
      </li>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="leave()">Leave</button>
    </mat-card-actions>
  </mat-card>
</div>
