html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: "Philosopher, Roboto, 'Helvetica Neue', sans-serif";
}

.mat-card-inner-container {
  padding: 10px;
}

mat-card {
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.game-button {
  margin-right: 10px;
}

button {
  font-family: "Philosopher, Roboto, 'Helvetica Neue', sans-serif";
}

.mine {
  color: #002cff;
  border-color: #002cff;
  font-weight: bold;
}