/* stylelint-disable color-hex-length */
$pp-blue-palette: (
  50 : #e0e7ff,
  100 : #b3c4ff,
  200 : #809dff,
  300 : #4d75ff,
  400 : #2658ff,
  500 : #003aff,
  600 : #0034ff,
  700 : #002cff,
  800 : #0025ff,
  900 : #0018ff,
  A100 : #ffffff,
  A200 : #f2f3ff,
  A400 : #bfc3ff,
  A700 : #a6aaff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$pp-red-palette: (
  50 : #fee4e0,
  100 : #fbbcb3,
  200 : #f98f80,
  300 : #f7624d,
  400 : #f54126,
  500 : #f31f00,
  600 : #f11b00,
  700 : #ef1700,
  800 : #ed1200,
  900 : #ea0a00,
  A100 : #ffffff,
  A200 : #ffdede,
  A400 : #ffacab,
  A700 : #ff9391,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$pp-green-palette: (
  50 : #f9ffe0,
  100 : #f0ffb3,
  200 : #e6ff80,
  300 : #dbff4d,
  400 : #d4ff26,
  500 : #ccff00,
  600 : #c7ff00,
  700 : #c0ff00,
  800 : #b9ff00,
  900 : #adff00,
  A100 : #ffffff,
  A200 : #fafff2,
  A400 : #e8ffbf,
  A700 : #dfffa6,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
/* stylelint-enable color-hex-length */