@use "@angular/material" as mat;
@include mat.core();

@import "./palette.scss";

.pp-theme {
  $pp-typography: mat.define-typography-config($font-family: "Philosopher, Roboto, 'Helvetica Neue', sans-serif",
    $headline-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
    $headline-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
    $headline-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
    $headline-1: mat.define-typography-level(34px, 40px, 400),
    $subtitle-2: mat.define-typography-level(16px, 28px, 400),
    $subtitle-1: mat.define-typography-level(15px, 24px, 400),
    $body-2: mat.define-typography-level(14px, 24px, 500),
    $body-1: mat.define-typography-level(14px, 20px, 400),
    $caption: mat.define-typography-level(12px, 20px, 400),
    $button: mat.define-typography-level(14px, 14px, 500),
  );

  $pp-primary: mat.define-palette($pp-blue-palette);
  $pp-accent: mat.define-palette($pp-green-palette);
  $pp-warn: mat.define-palette($pp-red-palette);

  $pp-theme: mat.define-light-theme((color: (primary: $pp-primary,
        accent: $pp-accent,
        warn: $pp-warn,
      ),
      typography: $pp-typography,
      density: 0,
    ));

  @include mat.all-component-themes($pp-theme);
}