/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@use '@angular/material' as mat;

@include mat.core();

$app-primary: mat.define-palette($mat-blue);
$app-accent: mat.define-palette($mat-pink, A200, A100, A400);
$app-warn: mat.define-palette($mat-red);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($app-theme);
