<mat-card>
  <mat-card-title translate>
    Join an existing game
  </mat-card-title>
  <mat-card-content>
    <div>
      <mat-form-field>
        <mat-label>Team name</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>My name</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary">Join</button>
  </mat-card-actions>
</mat-card>
