<mat-card [formGroup]="joinData">
  <mat-card-title translate>
    Start a new game
  </mat-card-title>
  <mat-card-content>
    <div>
      <mat-form-field>
        <mat-label>Team name</mat-label>
        <input matInput placeholder="enter a team name" formControlName="team" required />
        <mat-error>{{ getErrorMessage('team') }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>My name</mat-label>
        <input matInput placeholder="enter your name" formControlName="nick" required />
        <mat-error>{{ getErrorMessage('nick') }}</mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" [disabled]="joinData.invalid" (click)="join()">Join</button>
  </mat-card-actions>
</mat-card>
