<mat-card appearance="outlined" [formGroup]="formData">
  <mat-card-title>
    {{gameHeader}}
  </mat-card-title>

  <mat-card-content>
    <div>
      <mat-form-field>
        <mat-label>{{teamNameLabel}}</mat-label>
        <input matInput placeholder="{{teamNamePlaceHolder}}" formControlName="team" required />
        <mat-error>{{ getErrorMessage('team') }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{nickNameLabel}}</mat-label>
        <input matInput placeholder="{{nickNamePlaceHolder}}" formControlName="nick" required />
        <mat-error>{{ getErrorMessage('nick') }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox [(ngModel)]="observer" [ngModelOptions]="{standalone: true}">
        {{observerLabel}}
      </mat-checkbox>
    </div>
  </mat-card-content>

  <mat-card-actions class="flex-center">
    <button mat-stroked-button color="primary" [disabled]="formData.invalid" (click)="submit()">
      <span>{{submitButtonLabel}}</span>
    </button>
  </mat-card-actions>
</mat-card>