<div class="button-row">
  <div *ngIf="componentState().showStart" class="game-button">
    <button id="start-button" matButton="outlined" color="primary" (click)="start()">
      {{ START_LABEL | translate }}
    </button>
  </div>
  <div *ngIf="componentState().showReveal">
    <button
      id="reveal-button"
      matButton="outlined"
      color="primary"
      (click)="reveal()"
      [disabled]="componentState().disableReveal"
    >
      {{ REVEAL_LABEL | translate }}
    </button>
  </div>
  <div *ngIf="componentState().showReveal">
    <button
      id="force-reveal-button"
      matButton="outlined"
      color="primary"
      (click)="reveal()"
      [disabled]="componentState().disableForceReveal"
    >
      {{ FORCE_REVEAL_LABEL | translate }}
    </button>
  </div>
  <!-- LATER: move this to the right side of the button row -->
  <div class="game-button">
    <button
      id="change-card-set-button"
      matButton="outlined"
      color="primary"
      (click)="changeCardSet()"
      [disabled]="componentState().disableChangeCardSet"
    >
      {{ CHANGE_CARDSET_LABEL | translate }}
    </button>
  </div>
</div>
