<div class="button-row">
  <div *ngIf="showStart()" class="game-button">
    <button id="start-button" mat-stroked-button color="primary" (click)="start()">
      {{ START_LABEL | translate }}
    </button>
  </div>
  <div *ngIf="showReveal()">
    <button id="reveal-button" mat-stroked-button color="primary" (click)="reveal()" [disabled]="disableReveal()">
      {{ REVEAL_LABEL | translate }}
    </button>
  </div>
  <div *ngIf="showReveal()">
    <button
      id="force-reveal-button"
      mat-stroked-button
      color="primary"
      (click)="reveal()"
      [disabled]="disableForceReveal()"
    >
      {{ FORCE_REVEAL_LABEL | translate }}
    </button>
  </div>
  <!-- LATER: move this to the right side of the button row -->
  <div class="game-button">
    <button
      id="change-card-set-button"
      mat-stroked-button
      color="primary"
      (click)="changeCardSet()"
      [disabled]="disableChangeCardSet()"
    >
      {{ CHANGE_CARDSET_LABEL | translate }}
    </button>
  </div>
</div>
