<div class="header-container">
  <div *ngIf="canNavigate">
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      {{routeLabelHome}}
    </button>
    <button mat-button routerLink="/legal" routerLinkActive="active">
      <mat-icon>gavel</mat-icon>
      {{routeLabelLegal}}
    </button>
    <button mat-button routerLink="/privacy" routerLinkActive="active">
      <mat-icon>security</mat-icon>
      {{routeLabelPrivacy}}
    </button>
  </div>
  <div class="header-right">
    <div class="version-text">{{version}}</div>
    <shell-language-selector [icon]="true"></shell-language-selector>
  </div>
</div>