<div class="header-container">
  <div>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>{{routeLabelHome}}</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span>{{routeLabelAbout}}</span>
    </button>
  </div>
  <div class="flex-expand"></div>
  <div class="header-container">
    <app-connection></app-connection>
    <app-language-selector icon="true"></app-language-selector>
  </div>

</div>