<!-- for smaller devices  -->
<mat-toolbar fxHide.gt-sm class="mat-elevation-z6 navbar" color="primary">
  <div [ngStyle]="headerLogoStyle" fxFlex>
    <div fxLayoutAlign="start center">
      <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span fxFlex></span>
    <app-connection></app-connection>
    <app-language-selector icon="true"></app-language-selector>
    </div>
</mat-toolbar>

<!-- for large devices -->
<mat-toolbar fxHide.lt-md class="mat-elevation-z6 navbar" color="primary">
  <div class="div-logo" fxLayoutAlign="start center">
     <img src="assets/logo_40x40.png"/>
  </div>
  <div>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>{{routeLabelHome}}</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span>{{routeLabelAbout}}</span>
    </button>
  </div>
  <span fxFlex></span>
  <app-connection></app-connection>
  <app-language-selector icon="true"></app-language-selector>
</mat-toolbar>
