<div class="overlay">
  <mat-icon>{{ connectionIcon() }}</mat-icon>
  <div class="div-reconnecting" *ngIf="countdownState().showCountdown">
    {{ countdownState().reconnectingTextKey | translate: countdownState().reconnectingTextParams }}
    <button mat-raised-button class="overlay-buttons" (click)="reconnectNowButtonClick()">
      {{ RECONNECT_NOW_LABEL | translate }}
    </button>
    <button mat-raised-button class="overlay-buttons" (click)="giveUpReconnectingButtonClick()">
      {{ GIVE_UP_RECONNECTING_LABEL | translate }}
    </button>
  </div>
  <div class="div-reconnecting" *ngIf="showPause()">
    {{ HAVING_A_BREAK_TEXT | translate }}
    <button mat-raised-button class="overlay-buttons" (click)="reconnectNowButtonClick()">
      {{ REJOIN_NOW_LABEL | translate }}
    </button>
    <button mat-raised-button class="overlay-buttons" (click)="doNotRejoinButtonClick()">
      {{ NOT_REJOINING_LABEL | translate }}
    </button>
  </div>
</div>
