<div class="flex-row">
  <div class="flex-column">
    <div class="flex-column">
      <mat-card appearance="outlined">
        <mat-card-title>{{scrumMasterHeaderLabel}}</mat-card-title>
        <mat-card-content>
          <game-participant [participant]="scrumMaster"></game-participant>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined">
        <mat-card-title>{{developersHeaderLabel}}</mat-card-title>
        <mat-card-content>
          <div class="flex-column">
            <div *ngFor="let developer of developers">
              <game-participant [participant]="developer"></game-participant>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined">
        <mat-card-title>{{observersHeaderLabel}}</mat-card-title>
        <mat-card-content>
          <div class="flex-column">
            <div *ngFor="let observer of observers">
              <game-participant [participant]="observer"></game-participant>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="flex-column">
    <mat-card appearance="outlined">
      <mat-card-title>
        <span>{{team}} ({{status}})</span>
      </mat-card-title>
      <mat-card-content>
        <div class="flex-row flex-wrap">
          <game-estimation
            *ngIf="myEstimation"
            [estimation]="myEstimation"
            [enabled]="canEstimate && enabled"
            (click)="withdraw()">
          </game-estimation>
          <ng-container *ngFor="let estimation of estimations">
            <game-estimation [estimation]="estimation" [enabled]="false"></game-estimation>
          </ng-container>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="flex-row flex-wrap">
          <div class="list-group-item" *ngFor="let card of availableCards">
            <game-card [card]="card" [revealed]="true" [enabled]="canEstimate && enabled" (cardClicked)="estimate($event)"></game-card>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-actions>
        <div class="flex-row">
          <div *ngIf="showStart">
            <button mat-stroked-button color="primary" (click)="start()" [disabled]="!enabled">
              {{startButtonLabel}}
            </button>
          </div>
          <div *ngIf="showReveal">
            <button mat-stroked-button color="primary" (click)="reveal()" [disabled]="!enabled">
              {{revealButtonLabel}}
            </button>
          </div>
          <button mat-stroked-button color="primary" (click)="leave()" [disabled]="!enabled">
            {{leaveLabel}}
          </button>
          <div *ngIf="showDisconnect">
            <button mat-stroked-button color="warning" (click)="disconnect()" [disabled]="!enabled">Disconnect</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
