<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side">
    <!-- Participants panel -->
    <div class="side-nav-container">
      <!-- Scrum-master -->
      <div class="participants">
        <mat-card-title>{{scrumMasterHeaderLabel}}</mat-card-title>
        <mat-card-content class="participant-list">
          <game-participant [participant]="scrumMaster"></game-participant>
        </mat-card-content>
      </div>
      <!-- Developers -->
      <div class="participants">
        <mat-card-title>{{developersHeaderLabel}}</mat-card-title>
        <mat-card-content class="participant-list">
            <div *ngFor="let developer of developers">
              <game-participant [participant]="developer"></game-participant>
            </div>
        </mat-card-content>
      </div>
      <!-- Observers -->
      <div class="participants">
        <mat-card-title>{{observersHeaderLabel}}</mat-card-title>
        <mat-card-content class="participant-list">
            <div *ngFor="let observer of observers">
              <game-participant [participant]="observer"></game-participant>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Game board -->
    <div>
      <div class="toggle-container">
        <button (click)="sidenav.toggle()" class="toggle">T</button>
      </div>
      <div class="flex-column game-container">
        <!-- Title -->
        <mat-card>
          <div class="mat-card-inner-container">
            <mat-card-title>
              {{team}} ({{status}})
            </mat-card-title>
          </div>
        </mat-card>
        <!-- Played cards -->
        <mat-card>
          <div class="flex-row flex-wrap estimations mat-card-inner-container">
            <ng-container *ngFor="let estimation of estimations">
              <div class="flex-column">
                <game-card [card]="estimation.card" [revealed]="estimation.revealed"
                  [enabled]="estimation.participant.me && canEstimate" [mine]="estimation.participant.me" (cardClicked)="withdraw()">
                </game-card>
                <div class="flex-center" [class.mine]="estimation.participant.me">
                  <div class="nick">
                    <span>{{estimation.participant.me ? 'me' : estimation.participant.nick}}</span>
                  </div>
                </div>
              </div>
            </ng-container>
            <!-- Missing estimations -->
            <ng-container *ngFor="let participant of participantsWithoutEstimation">
              <div class="flex-column">
                <game-card [enabled]="false" [mine]="participant.me" (cardClicked)="withdraw()">
                </game-card>
                <div class="flex-center" [class.mine]="participant.me">
                  <div class="nick not-estimated">
                    <span>{{participant.me ? 'me' : participant.nick}}</span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </mat-card>
        <!-- Available cards -->
        <mat-card>
          <div class="flex-row flex-wrap mat-card-inner-container">
            <div class="list-group-item" *ngFor="let card of availableCards">
              <game-card [card]="card" [enabled]="canEstimate && enabled" [isAvailableCard]="true"
                (cardClicked)="estimate($event)"></game-card>
            </div>
          </div>
        </mat-card>
        <!-- Buttons -->
        <mat-card>
          <div class="flex-row mat-card-inner-container">
            <div *ngIf="showStart" class="game-button">
              <button mat-stroked-button color="primary" (click)="start()" [disabled]="!enabled">
                {{startButtonLabel}}
              </button>
            </div>
            <div *ngIf="showReveal" class="game-button">
              <button mat-stroked-button color="primary" (click)="reveal()" [disabled]="!enabled">
                {{revealButtonLabel}}
              </button>
            </div>
            <div class="game-button">
              <button mat-stroked-button color="primary" (click)="leave()" [disabled]="!enabled">
                {{leaveLabel}}
              </button>
            </div>
            <div *ngIf="showDisconnect" class="game-button">
              <button mat-stroked-button color="warning" (click)="disconnect()"
                [disabled]="!enabled">Disconnect</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>