.container {
  text-align: center;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 25%;
  min-width: 130px;
  margin: 0 auto;
}

.join-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-wrapper {
  width: 450px;
  margin: 10px;
}