<mat-card appearance="outlined" [formGroup]="formData">
  <mat-card-title>
    {{ gameHeader | translate }}
  </mat-card-title>

  <mat-card-content>
    <div>
      <mat-form-field>
        <mat-label>{{ 'Join.Component.Input.Team.Label' | translate }}</mat-label>
        <input id="team-input" matInput placeholder="{{ 'Join.Component.Input.Team.PlaceHolder' | translate }}" formControlName="team" required />
        <mat-error>{{ getErrorMessage('team') | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{ 'Component.Input.Nick.Label' | translate }}</mat-label>
        <input id="nick-input" matInput placeholder="{{'Component.Input.Nick.PlaceHolder' | translate}}" formControlName="nick" required />
        <mat-error>{{ getErrorMessage('nick') | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="isCreate">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'Component.Select.CardSet.Label' | translate }}</mat-label>
        <mat-select formControlName="cardSet">
          <mat-option *ngFor="let cardSet of cardSetValues" [value]="cardSet.set">
            {{cardSet.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox id="observe" [(ngModel)]="observer" [ngModelOptions]="{standalone: true}">
        {{ 'Join.Component.Checkbox.Observer.Label' | translate }}
      </mat-checkbox>
    </div>
  </mat-card-content>

  <mat-card-actions class="action-wrapper">
    <button mat-stroked-button color="primary" [disabled]="formData.invalid" (click)="submit()">
      <span>{{ submitButtonLabel | translate }}</span>
    </button>
  </mat-card-actions>
</mat-card>
